<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hcg.myutilslibrary">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application>
        <activity
            android:name=".utils.PermissionUtils$PermissionActivity"
            android:theme="@style/ActivityTranslucent" />
    </application>
</manifest>
